@media all and (max-width:800px){
    figure .imagem-fundo{
        background:url(../../Imagens/plano_fundo.png);
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position-x: center;
    
    }
}